name: Job Data Output
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - main
      - 'release/**'
      - 'release.*/^'
      - '**'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Clone The code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: npm ci
      - name: Lint code
        run: npm run lint
      - name: Test code
        run: npm run test
      
  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Clone The code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: npm ci
      - name: Build the code
        run: npm run build
      - name: Output Job Data
        uses: actions/upload-artifact@v4
        with:
          name: dist-files
          path: dist/
      - name: List dist files
        run: ls -R dist/
  deploy:
    needs: build
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Download Build Artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist-files
      - name: List dist files
        run: ls -R dist/
      - name: deploy
        run: echo "Deploying ....."
        
