name: Job Data Output
on:
  push:
    branches:
      - main
      - feature/**
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - main
      - 'release/**'
      - 'release.*/^'
      - '**'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Clone The code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: npm ci
      - name: Lint code
        run: npm run lint
      - name: Test code
        run: npm run test
      
  build:
    needs: test
    runs-on: ubuntu-latest
    outputs:
      script-file: ${{ steps.publish.outputs.script-file }}
    steps:
      - name: Clone The code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: npm ci
      - name: Build the code
        run: npm run build
      - name: publish the Output
        id: publish
        #run: find dist/assets/*.js -type f -execdir echo 'script-file={}'>> $GITHUB_OUTPUT ';'
        run: find dist/assets/*.js -type f -execdir echo '::set-output name=script-file::{}' ';'
      - name: Output Job Data
        uses: actions/upload-artifact@v4
        with:
          name: dist-files
          path: dist/
      - name: List dist files
        run: ls -R dist/
  deploy:
    needs: build
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Download Build Artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist-files
      - name: List dist files
        run: ls
      - name: output file content
        run: echo "${{ needs.build.outputs.script-file }}"
      - name: deploy
        run: echo "Deploying ....."
        
